body{
    text-align: center;
    
    background-color:white
    }
img{
    height: 30;
    width:20;
    object-fit: contain;
}

justify-flex{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
}
/*center-text*/
h1{
    text-align:center;
}/*set columns for img*/
p{ 
    height: fit-content;
}

/*set class for buttons*/
.next-button{
    float:end;
}
.English-button,
.Spanish-button{
    float:start;
}    

/*scale imgs and align text /* 




